$heightLoading : 100px;
$widthLoading : 100px;
@keyframes loadingAnimate{
    4%{
        background: url('../../assets/img/loading/loading0001.png') center center;
        background-size: 100%;
        height: $heightLoading;
        width: $widthLoading;
    }
    8%{
        background: url('../../assets/img/loading/loading0002.png') center center;
        background-size: 100%;height: $heightLoading;
        width: $widthLoading;
    }
    12%{
        background: url('../../assets/img/loading/loading0003.png') center center;background-size: 100%;height: $heightLoading;
        width: $widthLoading;
    }
    16%{
        background: url('../../assets/img/loading/loading0004.png') center center;background-size: 100%;height: $heightLoading;
        width: $widthLoading;
    }
    20%{
        background: url('../../assets/img/loading/loading0005.png') center center;background-size: 100%;height: $heightLoading;
        width: $widthLoading;
    }
    24%{
        background: url('../../assets/img/loading/loading0006.png') center center;background-size: 100%;height: $heightLoading;
        width: $widthLoading;
    }
    28%{
        background: url('../../assets/img/loading/loading0007.png') center center;background-size: 100%;height: $heightLoading;
        width: $widthLoading;
    }
    32%{
        background: url('../../assets/img/loading/loading0008.png') center center;background-size: 100%;height: $heightLoading;
        width: $widthLoading;
    }
    36%{
        background: url('../../assets/img/loading/loading0009.png') center center;background-size: 100%;height: $heightLoading;
        width: $widthLoading;
    }
    40%{
        background: url('../../assets/img/loading/loading0010.png') center center;background-size: 100%;height: $heightLoading;
        width: $widthLoading;
    }
    44%{
        background: url('../../assets/img/loading/loading0011.png') center center;background-size: 100%;height: $heightLoading;
        width: $widthLoading;
    }
    48%{
        background: url('../../assets/img/loading/loading0012.png') center center;background-size: 100%;height: $heightLoading;
        width: $widthLoading;
    }
    52%{
        background: url('../../assets/img/loading/loading0013.png') center center;background-size: 100%;height: $heightLoading;
        width: $widthLoading;
    }
    56%{
        background: url('../../assets/img/loading/loading0014.png') center center;background-size: 100%;height: $heightLoading;
        width: $widthLoading;
    }
    60%{
        background: url('../../assets/img/loading/loading0015.png') center center;background-size: 100%;height: $heightLoading;
        width: $widthLoading;
    }
    64%{
        background: url('../../assets/img/loading/loading0016.png') center center;background-size: 100%;height: $heightLoading;
        width: $widthLoading;
    }
    68%{
        background: url('../../assets/img/loading/loading0017.png') center center;background-size: 100%;height: $heightLoading;
        width: $widthLoading;
    }
    72%{
        background: url('../../assets/img/loading/loading0018.png') center center;background-size: 100%;height: $heightLoading;
        width: $widthLoading;
    }
    76%{
        background: url('../../assets/img/loading/loading0019.png') center center;background-size: 100%;height: $heightLoading;
        width: $widthLoading;
    }
    82%{
        background: url('../../assets/img/loading/loading0020.png') center center;background-size: 100%;height: $heightLoading;
        width: $widthLoading;
    }
    86%{
        background: url('../../assets/img/loading/loading0021.png') center center;background-size: 100%;height: $heightLoading;
        width: $widthLoading;
    }
    90%{
        background: url('../../assets/img/loading/loading0022.png') center center;background-size: 100%;height: $heightLoading;
        width: $widthLoading;
    }
    94%{
        background: url('../../assets/img/loading/loading0023.png') center center;background-size: 100%;height: $heightLoading;
        width: $widthLoading;
    }
    100%{
        background: url('../../assets/img/loading/loading0024.png') center center;background-size: 100%;height: $heightLoading;
        width: $widthLoading;
    }
}
.demo{
    .alertdemo{
        position: fixed;
        height: 100%;
        width: 100%;
        .loadinghome{
            padding:30px 30px;
            padding-bottom: 30px;
            background: rgba(255,255,255,.9);
            border-radius: 8px;
            -webkit-transform: scale(0.8);
            -moz-transform: scale(0.8);
            -ms-transform: scale(0.8);
            transform: scale(0.8);
            margin-top: 20%;
            border: 5px solid rgba(0,0,0,.5);
            position: relative;
            .title{
                text-align: center;
                font-size: 1.5em;
                font-weight: 600;
            }
            .inputgroup{
                text-align: center;
                width: 100%;
                margin: 15px 0;
                position: relative;
                input{
                    padding: 1px;
                    height: 3em;
                    width: calc(100% - 3em);
                    border: 1px solid #ddd;
                    font-size: 1em;
                    border-radius: 5px;
                    padding-left: 3em;
                }
                .keyword{
                    position: absolute;
                    right: 2px;
                    top:1em;
                }
                .noclickColor{
                    color:#d12228;
                }
                button{
                    padding: 1px;
                    width: 100%;
                    height: 2.5em;
                    border-radius: 5px;
                    background: #d12228;
                    border: 1px solid #ddd;
                    color: white;
                    font-size: 1.2em;
                }
            }
            .noNumber{
                text-align: right;
            }
            .loginmess{
                text-align: center;
            }
            .close{
                position: absolute;
                top: 10px;
                right: 10px;
                img{
                    width: 1em;
                }
            }
            .back{
                position: absolute;
                top: 10px;
                left: 10px;
                img{
                    width: 1em;
                }
            }
            .resetNext{
                margin-top: 10em;
            }
            .contentPhone{
                padding: 1em;
                text-align: center;
            }
        }
    }
    .show3{
        position: fixed;
        height: 100%;
        width: 100%;
        &.backAlert{
            background: rgba(0,0,0,0.5);
        }
        .showimg{
            position: relative;
            padding-bottom: 30px;
            background: rgba(255,255,255,1);
            border-radius: 8px;
            -webkit-transform: scale(0.8);
            -moz-transform: scale(0.8);
            -ms-transform: scale(0.8);
            transform: scale(0.8);
            margin-top: 20%;
            border: 5px solid rgba(0,0,0,.5);
            .login{
                position: absolute;
                top:1em;
                top: 8.5em;
                width: 100%;
                height: 4.5em;
                opacity: 0;
            }
            .user{
                top:14.5em;
            }
            .read{
                position: absolute;
                width: 100%;
                height: 4.5em;
                opacity: 0;
                bottom: 1em;
            }
            .close{
                position: absolute;
                top:1em;
                right: 1em;
                img{
                    width: 1em;
                }
            }
            .readSelect{
                text-align: center;
                color: #b3b3b3;
            }
        }
        .numberStyle{
            padding: 2.5em 1em;
            margin-top: 27%;
        }
        img{
            width: 100%;
            vertical-align: middle;
        }
        .readlist{
            position: relative;
            .title{
                text-align: center;
                margin-top:10px;
            }
            .content{
                height: 18em;
                overflow:auto;
                margin:2em;
                border: 1px solid #ddd;
            }
            .close{
                position: absolute;
                top:1em;
                right: 1em;
                img{
                    width: 1em;
                }
            }
        }
        .userLogin{
            margin-top: 45%;
            .userAlertContent{
                padding: 2em;
            }
            .buttonStyle{
                display: flex;
                button{
                    padding: 1px;
                    flex:1;
                    height: 2.5em;
                    border-radius: 5px;
                    background: #d12228;
                    border: 1px solid #d12228;
                    color: white;
                    font-size: 1em;
                    margin: 0 1.5em;
                    &:nth-child(2){
                        background: white;
                        color: black;
                    }
                }
            }
        }
        
    }
    .selectAlert{
        z-index: 2;
        .showimg{
            margin-top:40%;
        }
        .closeStyle{
            margin-top:4em;
        }
        .selectBtn{
            position: absolute;
            width: 50%;
            height: 4em;
            bottom: 2em;
        }
        .reject{
            position: absolute;
            width: 50%;
            height: 4em;
            bottom: 2em;
            right: 0;
        }
    }
    .alert{
        background: rgba(0,0,0,0.5);
    }
    .loading{
        height: $heightLoading;
        width: $widthLoading;
        animation: loadingAnimate 5s infinite;
        -webkit-animation:loadingAnimate 5s infinite;
    }
}