@import '../index/reset.scss';
.realName {
    .smallContent {
        .title {
            color: $gray;
            text-align: left;
            font-size: $font_s;
        }
    }
    .login_form {
        h3 {
            position: relative;
        }
    }
    .tips {
        position: relative;
        width: 35px;
        height: 35px;
        left: 20px;
        top: 5px;
    }
    .name {
        text-align: left;
        border: 1px solid $border1;
        height: 76px;
        margin: 20px 0;
        label {
            width: 100px;
            display: inline-block;
            line-height: 76px;
            text-align: left;
            margin-left: 20px;
            color: $gray;
        }
        .myName {
            padding: 0;
            height: calc(100% - 6px);
            border: none;
            position: relative;
            top: -2px;
            background: rgba(255,255,255,0);
        }
    }
    .bottomClick {
        margin-top: 26px !important;
    }
    .isMust{
        margin-top: 26px !important;
        display: flex;
        .btn{
            flex: 1;
            margin: 0 10px;
        }
        .MustRight{
            background: white;
            border: 1px solid $border2;
            color:$fontColor;
        }
    }
    .introId {
        position: fixed;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.5);
        .content {
            font-size: $font_b;
            width: $width;
            height: $height/2;
            position: absolute;
            left: 50%;
            top: 50%;
            margin-top: -$height/4;
            margin-left: -$width/2;
            background-color: $white;
            text-align: center;
            border-radius: 24px;
            .introContent{
                text-align: left;
                padding: 35px;
                padding-bottom: 0px;
                .concat{
                    margin-top:15px;
                }
            }
            .bottomClick{
                padding:0 40px;
            }
        }
    }
}