@import '../index/reset';

.visitor-entry {
  position: absolute;
  width: 100%;
  height: 60%;
  top: 20%;
  left: 0;
  background-color: $white;
  z-index: 2;
  border-radius:10px;
  .container {
    width: 100%;
    height: 100%;
    .header{
      position: absolute;
      top:0;
      left:0;
      width:100%;
      height: 70px;
      .close,.back{
        position: absolute;
        width:70px;
        height:70px;
        top:0;
        &.close{
          right:0;
        }
        &.back{
          left:0;
        }
        .icon_close,.icon_back{
          display: block;
          width:36px;
          height:36px;
          background: url(../../../static/img/index/icon_close1.png) no-repeat;
          background-size: 36px auto;
          margin:30px 10px 0 0;
          &.icon_back{
            background: url(../../../static/img/index/icon_back.png) no-repeat;
            background-size: 36px auto;
            margin:30px 0 0 20px;
          }
        }
      }
    }
    .title {
      margin-top: 100px;
      text-align: left;
      padding: 0 20px;
    }
    .button-group {
      position: absolute;
      width: 100%;
      height: 100px;
      bottom: 20px;
      .option-button {
        float: left;
        width: 40%;
        height: 80px;
        display: inline-block;
        &.left-button {
          background-color: $red;
          margin-left: 5%;
          border-radius: 10px;
          color: $white;
        }
        &.right-button {
          float: right;
          margin-right: 5%;
          border: 1px solid $border2;
          background-color: $white;
          border-radius: 10px;
        }
      }
    }
  }
}

.visitor-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  background-color: #000000;
  opacity: 0.5;
  z-index: 1;
}
