.risk-wrap {
  position: absolute;
  width: 100%;
  height: 80%;
  top: 10%;
  left: 0;
  background-color: #ffffff;
  z-index: 2;
  border-radius:24px;
  .container {
    width: 100%;
    height: 100%;
    .header{
      position: absolute;
      top:0;
      left:0;
      width:100%;
      height: 70px;
      .close,.back{
        position: absolute;
        width:70px;
        height:70px;
        top:0;
        &.close{
          right:0;
        }
        &.back{
          left:0;
        }
        .icon_close,.icon_back{
          display: block;
          width:36px;
          height:36px;
          background: url(../../../static/img/index/icon_close1.png) no-repeat;
          background-size: 36px auto;
          margin:30px 10px 0 0;
          &.icon_back{
            background: url(../../../static/img/index/icon_back.png) no-repeat;
            background-size: 36px auto;
            margin:30px 0 0 20px;
          }
        }
      }
    }
    .main-content {
      padding: 80px 40px 40px 40px;
      .code-image {
        width: 250px;
        height: 80px;
        margin: 20px auto;
        .ordinary-risk-image {
          width: 100%;
          height: 100%;
          display: block;
        }
      }
      .input-area {
        width: 100%;
        height: 74px;
        margin-bottom: 40px;
        .code-input {
          width: 100%;
          height: 100%;
          border-radius: 10px;
          text-align: center;
          border: 1px solid #e5e5e5;
          font-size: 24px;
        }
      }
      .confirm-button {
        width: 100%;
        height: 76px;
        background-color: #d12228;
        border-radius: 10px;
        color: #ffffff;
        font-size: 32px;
        border: none;
      }
    }
  }
  &.show {
    display: block;
  }
}

.risk-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  background-color: #000000;
  opacity: 0.5;
  z-index: 1;
}
