@import '../../app/index/reset';

.risk-wrap {
  height: 88%;
  top: 6%;
  .container {
    .main-content {
      .code-image {
        width: 250px;
        height: 80px;
        margin: 20px auto;
        .ordinary-risk-image {
          width: 100%;
          height: 100%;
          display: block;
        }
      }
      .input-area {
        width: 100%;
        height: 74px;
        margin-bottom: 40px;
        .code-input {
          width: 100%;
          height: 100%;
          border-radius: 10px;
          text-align: center;
          border: 1px solid $border1;
          font-size: 24px;
        }
      }
      .confirm-button {
        &.gray {
          background-color: $background2;
        }
      }
    }
  }
  &.show {
    display: block;
  }
}

