@import "reset";

.dialog-wrap {
  position: absolute;
  width: 100%;
  background-color: $white;
  z-index: 2;
  border-radius:10px;
  .container {
    width: 100%;
    height: 100%;
    .header{
      position: absolute;
      top:0;
      left:0;
      width:100%;
      height: 70px;
      .close,.back{
        position: absolute;
        width:70px;
        height:70px;
        top:0;
        &.close{
          right:0;
        }
        &.back{
          left:0;
        }
        .icon_close,.icon_back{
          display: block;
          width:36px;
          height:36px;
          background: url(../../../static/img/index/icon_close1.png) no-repeat;
          background-size: 36px auto;
          margin:30px 10px 0 0;
          &.icon_back{
            background: url(../../../static/img/index/icon_back.png) no-repeat;
            background-size: 36px auto;
            margin:30px 0 0 20px;
          }
        }
      }
    }
    .main-content {
      padding: 80px 40px 40px 40px;
      .confirm-button {
        position: absolute;
        bottom: 20px;
        left: 50%;
        width: 480px;
        height: 76px;
        margin-left: -240px;
        background-color: $red;
        border-radius: 10px;
        color: $white;
        font-size: 32px;
        border: none;
        &.gray {
          background-color: $background2;
        }
      }
      iframe {
        .container {
          background-color: red;
        }
      }
    }
  }
}

.dialog-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  background-color: #000000;
  opacity: 0.5;
  z-index: 1;
}

