$width:586px;
$height:610px;

$black:#000;
$white:#fff;
$white_opa:rgba(255,255,255,0.6);
$white_opa2:rgba(255,255,255,0.9);
$red:#d12228;
$ora:#ffd531;
$gray:#999;
$border1: #e5e5e5;
$border2: #d12228;
$background1: #f2f2f2;
$background2: #cccccc;
$fontColor:rgba(0,0,0,0.75);

$font_b:28px;
$font_m:24px;
$font_s:22px;
