@import "../../app/index/reset";

.success-wrap {
  height: 80%;
  top: 10%;
  .container {
    .main-content {
      .bind-title {
        font-size: 36px;
      }
      .remark-message {
        margin-top: 20px;
        text-align: left;
        .important {
          color: $red;
        }
      }
      .confirm-button {
        bottom: 100px;
      }
      .save-tips {
        position: absolute;
        width: 480px;
        height: 30px;
        bottom: 40px;
        text-align: center;
      }
    }
  }
}
